@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Lexend+Deca:wght@300;400;500;700&family=Lora:wght@400;600;700&family=Roboto+Slab:wght@300;400;500;700&display=swap');


:root {
    --cor1: #00080C;
    --cor2: #55C2FF;
    --cor3: #02222D;
    --cor4: #D9D9D9;
    --cor5: #BABABA;

    --fonte1:  'Roboto Slab', serif;
    --fonte2: 'Lexend Deca', sans-serif;
    --fonte3: 'Lora', serif;
    --fonte4:  'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

#bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 15%;
}

header {
    background-color: var(--cor1);
    height: 100vh;
    overflow-x: hidden;
}

/* ------- MENU ----- */
nav {
    
    z-index: 999;
    min-height: 10vh;
    width: 90vw;
    margin: auto;
    display: flex;
    align-items: center;
}

.menu-mobile {
    display: none;
    z-index: 1;
    cursor: pointer;
}

.menu-mobile div {
    width: 32px;
    height: 2px;
    background: #FFF;
    margin: 8px;
    transition: 0.3s;

}

.container-logo {
    z-index: 1;
}

.container-logo img {
    width: 50px;
}

.container-logo img:hover {
    cursor: pointer;
}

.menu {
    width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li {
    width: fit-content;
    height: fit-content;
    z-index: 1;
    transition: all .5s ease; 
}

.menu li img {
    width: 50px;
}

.menu li a{
    color: white;
    font-family: var(--fonte1);
}

.menu li:hover {
    cursor: pointer;  
    color: #a7a7a7;
    transform: scale(1.1);
    transition: all .5s ease;  
}

.menu.active {
    transform: translateX(0);
}

@keyframes menuFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.menu-mobile.active .linha1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.menu-mobile.active .linha2 {
    opacity: 0;
}

.menu-mobile.active .linha3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/*--- RESPONSIVIDADE MENU ---*/
@media (max-width: 999px) {
    body, html {
        position: relative;
        overflow-x: hidden;
    }
    .container-logo {
        display: none;
    }

    .menu {
        z-index: 3;
        position: absolute;
        top: 10vh;
        right: 0;
        width: 100vw;
        height: 90vh;
        background-color: var(--cor1);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .menu li {
        margin-left: 0;
        opacity: 0;
    }
    .menu-mobile {
        display: block;
    }
}


/*------SECTION INTRO ------*/
.intro {
    height: 80vh;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.intro .container-txt-intro {
    margin-left: 5vw;
}

.container-txt-intro {
    color: #FFF;
    font-family: var(--fonte2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 65%;
}

.container-txt-intro h1 {
    font-weight: 400;
    font-size: 48px;
}

.container-txt-intro span {
    color: var(--cor2);
}

.container-txt-intro p {
    font-size: 24px;
}

.container-txt-intro .btn-contato {
    text-decoration: none;
    margin-top: 50px;
    border: none;
    background-color: var(--cor2);
    color: var(--cor1);
    padding: 20px;
    align-self: start;
    font-family: var(--fonte2);
    font-size: 16px;
    font-weight: 500;
    transition: all 0.5s ease;
    z-index: 1;
}

.container-txt-intro .btn-contato:hover {
    cursor: pointer;
    background-color: #3585b3;
    color: #FFF;
    transition: all 0.5s ease;
}

.intro .container-img-intro {
    width: 500px;
    height: 500px;
    margin-left: 150px;
    z-index: 2;
}

.intro .container-img-intro img {
    border-radius: 50%;
    width: 100%;
}

/*--- RESPONSIVIDADE INTRO ---*/
@media only screen and (max-width: 1390px) {
    .container-txt-intro h1 {
        font-size: 36px;
    }

    .container-txt-intro p {
        max-width: 500px;
        font-size: 24px;
    }

    .container-img-intro  {
        width: 300px !important;
        margin-left: 0 !important;
        height: fit-content !important;
    }
}

@media only screen and (max-width: 880px) {
    .intro {
        flex-direction: column;
    }
    .container-img-intro {
        width: 350px !important;
    }
}

@media only screen and (max-width: 375px) {
    .container-img-intro {
        width: 250px !important;
    }

    .container-txt-intro h1 {
        font-size: 32px;
    }

    .container-txt-intro p {
        font-size: 18px;
    }

}

@media only screen and (max-width: 340px) {
    .intro {
        height: 100%;
        display: block;
    }

    .container-txt-intro {
        width: 95vw !important;
        height: 50%;
    }

    .btn-contato {
        margin-top: 10px !important;
    }

    .container-img-intro  {
        display: block;
        margin: auto !important;
    }
}



/*  --------------------- SECTION PROJETOS ---------------------*/
.projetos {
    background-color: var(--cor4);
    padding-bottom: 80px;
}

.projetos h2 {
    font-family: var(--fonte3);
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    padding-top: 40px;
}

.projetos h2::after {
    content: "";
    display: block;
    width: 90vw;
    margin: 20px auto 40px auto;
    border-top: 3px solid var(--cor1);
}

.projetos-content .container-cards {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1700px;
    justify-content: space-around;
}

.card {
    width: 44%;
    height: 313px;
    padding: 2rem 1rem;
    background: #FFF;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition:0.5s ease-in-out;
}

.card:hover {
    transform: translateY(20px);
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: var(--cor3);
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.card:hover:before {
    opacity: 0.8;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card .card-info {
    position: relative;
    z-index: 3;
    color: #FFF;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.card:hover .card-info {
    opacity: 1;
    transform: translateY(0px);
}

.card .card-info h1{
    margin: 0;
    font-family: var(--fonte3);
    font-weight: 700;
}

.card .card-info p{
    font-size: 15px;
    font-family: var(--fonte4); 
    margin-top: 8px;
    margin-bottom: 20px;
}

.card .card-info .saiba-mais {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: var(--cor2);
    color: #000;
    font-family: var(--fonte2);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.4 ease-in-out;
}

.card .card-info .saiba-mais:hover {
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

/*--- RESPONSIVIDADE PROJETOS ---*/
@media (max-width: 1640px) {
    .card {
        width: 700px;
        height: 300px;
    }
}
@media (max-width: 1530px) {
    .container-cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin: 20px 10px;
    }
    
}

@media (max-width: 785px) {
    .card {
        max-width: 300px !important;
        height: 650px;
    }

    .card img {
        object-fit: fill;
    }
}

@media (max-width: 415px){
    .card {
        max-width: 250px !important;
        height: 550px;
    }
    
}

/*  ---------------- SECTION Conhecimentos ----------------*/
.conhecimentos {
    background-color: var(--cor4);
    padding-bottom: 80px;
}

/*---- TÍTULO ----*/
.conhecimentos h2 {
    width: fit-content;
    margin: auto;
    font-family: var(--fonte3);
    font-weight: 700;
    font-size: 48px;
}

.conhecimentos h2::before, .conhecimentos h2::after {
    content: "";
    display: inline-block;
    width: 15vw;
    border-bottom: 3px solid black;
    transform: translateY(-15px);
}

.conhecimentos h2::before {
    margin: 0 40px 0 15px;
}

.conhecimentos h2::after {
    margin: 0 15px 0 40px;
}   

/*------ CONTEÚDO ------*/
.conhecimentos-content {
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.conhecimentos-content img {
    width: 700px;
}

/*--- LINGUAGENS ---*/
.conhecimentos-content .container-linguagens {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}

.container-linguagens .item-linguagem {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-linguagem i {
    font-size: 65px;
    color: var(--cor1);
}
.item-linguagem img {
    width: 63px;
}

/*-- CIRCULOS --*/
.item-linguagem .container-circulo {
    
    width: fit-content;
    height: fit-content;
    position: relative;
}

.container-circulo .progresso {
    width: 155px;
}

.container-circulo circle {
    width: 140px;
    height: 140px;
    fill: none;
    stroke: black;
    stroke-width: 20px;
    transform: translate(5px, 5px);
    stroke-dasharray: 315;
    stroke-dashoffset: 315; /*O quanto o stroke (borda) vai voltar em relação ao total que é o valor atribuido ao stroke-dasharray*/
}

.container-circulo circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke: var(--cor1);
    opacity: 75%;
}

.container-circulo circle:nth-child(2){
    stroke-dashoffset: calc(315 - ((315 * 70) / 100)); /*440 que é o total - 70% desse total*/
    stroke: var(--cor2);
}

.container-circulo .number {
    font-family: var(--fonte4);
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* ------------ FIM SECTION Conhecimentos ------------ */

/*---RESPONSIVIDADE CONHECIMENTOS ---*/
@media only screen and (max-width: 1600px) {
    .conhecimentos-content .vector-code-typing {
        width: 500px;
    }
    .conhecimentos-content {
        padding-top: 40px;
    }

    .conhecimentos-content {
        justify-content: center;
    }
    .container-linguagens {
        grid-template-columns: repeat(3, 1fr) !important;
        grid-column-gap: 80px !important;
        grid-template-rows: repeat(3, 1fr) !important;
    }
}

@media only screen and (max-width: 1200px) {
    .conhecimentos-content .vector-code-typing {
        width: 350px;
    }
}

@media only screen and (max-width: 1200px) { 
    .conhecimentos-content .vector-code-typing {
        display: none;
    }
}

@media only screen and (max-width: 695px) {
    .conhecimentos h2 {
        font-size: 38px;
        text-align: center;
    }

    .conhecimentos h2::before {
        display: none;
    }
    .conhecimentos h2::after {
        display: block;
        width: 90vw;
        margin: 40px auto 40px auto;
    }

    .conhecimentos-content {
        padding-top: 10px;
    }

    .container-linguagens {
        grid-template-columns: repeat(2, 1fr) !important;
        grid-column-gap: 80px !important;
        grid-template-rows: repeat(4, 1fr) !important;
    }
}

@media only screen and (max-width: 410px) {
    .container-linguagens {
        grid-column-gap: 20px !important;
    }
}

@media only screen and (max-width: 355px) {
    .container-linguagens {
        grid-column-gap: 5px !important;
    }
}

/*  ---------------- SECTION Contato ----------------*/
.contato {
    padding: 90px 10px;
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: var(--cor5);
}

.contato h2 {
    width: fit-content;
    margin: auto;
    text-align: center;
    font-family: var(--fonte3);
    font-weight: 700;
    font-size: 48px;
}

.contato h2::after {
    content: "";
    display: block;
    width: 15vw;
    margin: 20px auto 50px auto;
    border-top: 3px solid var(--cor1);
}

.contato-content {
    margin: auto;
}

.contato-content > p {
    margin: 0 auto 30px auto;
    width: fit-content;
    text-align: center;
    font-family: var(--fonte4);
    font-size: 24px;
}

.container-contatos {
    margin: auto;
    width: fit-content;
    padding: 30px;
}

.container-contatos a {
    text-decoration: none;
} 

.container-contatos p {
    color: #000;
    font-family: var(--fonte4);
    font-size: 16px;
    transition: all .5s ease;
}

.container-contatos p:hover {
    transform: scale(1.1);
    transition: all .5s ease;
}

.container-contatos img {
    width: 50px;
    margin-right: 10px;
    transition: all .5s ease;
}

.container-contatos img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all .5s ease;
}

.container-contatos .email, .container-contatos .wpp {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}


/*  --------------------- Footer ---------------------*/
footer {
    overflow-x: hidden;
    position: relative;
    height: 12vh;
    padding-top: 35px;
    background-color: var(--cor5);
    opacity: 95%;
}

footer:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    border-radius:50% 50%  0 0 / 100% 100% 0 0 ;
    transform: scaleX(1.1);
}

footer .footer-content {
    position: relative;
    z-index: 1;
}

footer .container-footer-icons {
    margin: auto;
    width: fit-content;
}

.container-footer-icons i {
    color: #FFF;
    font-size: 20px;
    font-weight: 100;
    padding: 10px 20px;
    transition: all .5s ease;
}

.container-footer-icons i:hover {
    cursor: pointer;
    color: #a7a7a7;
    transform: scale(1.1);
    transition: all .5s ease;
}

footer p {
    color: #FFF;
    font-family: var(--fonte4);
    font-weight: 100;
    margin: auto;
    padding: 15px 10px;
    width: fit-content;
}

/*---- SETA -----*/
.seta {
    position: fixed;
    cursor: pointer;
    bottom: 4rem;
    right: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.74);
    transition: 0.5s all;
}

.seta:hover {
    transform: scale(1.1);
    transition: 0.5s all;
}

.seta a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 1.3rem;
}