@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Lexend+Deca:wght@300;400;500;700&family=Lora:wght@400;600;700&family=Roboto+Slab:wght@300;400;500;700&display=swap');


:root {
    --cor1: #00080C;
    --cor2: #55C2FF;
    --cor3: #02222D;
    --cor4: #D9D9D9;
    --cor5: #BABABA;

    --fonte1:  'Roboto Slab', serif;
    --fonte2: 'Lexend Deca', sans-serif;
    --fonte3: 'Lora', serif;
    --fonte4:  'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

#bg {
    position: absolute;
    width: 100%;
    height: 95vh;
    object-fit: cover;
    opacity: 15%;
}

header {
    background-color: var(--cor1);
    height: 95vh;
}

nav {
    min-height: 10vh;
    width: 90vw;
    margin: auto;
    display: flex;
    align-items: center;
}

.container-logo {
    z-index: 1;
}

.container-logo img {
    width: 50px;
}

.container-logo img:hover {
    cursor: pointer;
}

.menu {
    width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li {
    width: fit-content;
    height: fit-content;
    z-index: 1;
    transition: all .5s ease; 
}

.menu li img {
    width: 50px;
}

.menu li a{
    color: white;
    font-family: var(--fonte1);
}

.menu li:hover {
    cursor: pointer;  
    color: #a7a7a7;
    transform: scale(1.1);
    transition: all .5s ease;  
}

.intro {
    height: 80vh;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.intro .container-txt-intro {
    margin-left: 5vw;
}

.container-txt-intro {
    color: #FFF;
    font-family: var(--fonte2);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 65%;
}

.container-txt-intro h1 {
    font-weight: 400;
    font-size: 48px;
}

.container-txt-intro span {
    color: var(--cor2);
}

.container-txt-intro p {
    font-size: 24px;
}

.container-txt-intro button {
    border: none;
    background-color: var(--cor2);
    padding: 20px;
    align-self: start;
    transform: translateY(140px);
    font-family: var(--fonte2);
    font-size: 16px;
    font-weight: 500;
    transition: all 0.5s ease;
}

.container-txt-intro button:hover {
    cursor: pointer;
    background-color: #3585b3;
    color: #FFF;
    transition: all 0.5s ease;
}

.intro .container-img-intro {
    width: 500px;
    height: 500px;
    margin-left: 150px;
    z-index: 1;
}

.intro .container-img-intro img {
    border-radius: 50%;
    width: 100%;
}

/*  --------------------- SECTION PROJETOS ---------------------*/
.projetos {
    background-color: var(--cor4);
    padding-bottom: 80px;
}

.projetos h2 {
    font-family: var(--fonte3);
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    padding-top: 40px;
}

.projetos h2::after {
    content: "";
    display: block;
    width: 90vw;
    margin: 20px auto 40px auto;
    border-top: 3px solid var(--cor1);
}

.projetos-content {
    width: 85vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: center;
}

.projetos-content .container-hand-coding{
    width: 700px;
    grid-row: 1 / 3;
    justify-self: center;
    align-self: center;
}

.projetos-content .card {
    background-color: var(--cor3);
    height: 370px;
}

/*  ---------------- SECTION Conhecimentos ----------------*/
.conhecimentos {
    background-color: var(--cor4);
    padding-bottom: 80px;
}

/*---- TÍTULO ----*/
.conhecimentos h2 {
    width: fit-content;
    margin: auto;
    font-family: var(--fonte3);
    font-weight: 700;
    font-size: 48px;
}

.conhecimentos h2::before, .conhecimentos h2::after {
    content: "";
    display: inline-block;
    width: 15vw;
    border-bottom: 3px solid black;
    transform: translateY(-15px);
}

.conhecimentos h2::before {
    margin: 0 40px 0 15px;
}

.conhecimentos h2::after {
    margin: 0 15px 0 40px;
}   

/*------ CONTEÚDO ------*/
.conhecimentos-content {
    width: 85vw;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.conhecimentos-content .container-code-typing {
    width: 700px;
}

/*--- LINGUAGENS ---*/
.conhecimentos-content .container-linguagens {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}

.container-linguagens .item-linguagem {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-linguagem i {
    font-size: 65px;
    color: var(--cor1);
}
.item-linguagem img {
    width: 63px;
}

/*-- CIRCULOS --*/
.item-linguagem .container-circulo {
    
    width: fit-content;
    height: fit-content;
    position: relative;
}

.container-circulo .progresso {
    width: 155px;
}

.container-circulo circle {
    width: 140px;
    height: 140px;
    fill: none;
    stroke: black;
    stroke-width: 20px;
    transform: translate(5px, 5px);
    stroke-dasharray: 315;
    stroke-dashoffset: 315; /*O quanto o stroke (borda) vai voltar em relação ao total que é o valor atribuido ao stroke-dasharray*/
}

.container-circulo circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke: var(--cor1);
    opacity: 75%;
}

.container-circulo circle:nth-child(2){
    stroke-dashoffset: calc(315 - ((315 * 70) / 100)); /*440 que é o total - 70% desse total*/
    stroke: var(--cor2);
}

.container-circulo .number {
    font-family: var(--fonte4);
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* ------------ FIM SECTION Conhecimentos ------------ */

/*  ---------------- SECTION Contato ----------------*/
.contato {
    padding: 90px 10px;
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: var(--cor5);
}

.contato h2 {
    width: fit-content;
    margin: auto;
    text-align: center;
    font-family: var(--fonte3);
    font-weight: 700;
    font-size: 48px;
}

.contato h2::after {
    content: "";
    display: block;
    width: 15vw;
    margin: 20px auto 50px auto;
    border-top: 3px solid var(--cor1);
}

.contato-content {
    margin: auto;
}

.contato-content > p {
    margin: 0 auto 30px auto;
    width: fit-content;
    font-family: var(--fonte4);
    font-size: 24px;
}

.container-contatos {
    margin: auto;
    width: fit-content;
    padding: 30px;
}

.container-contatos p {
    font-family: var(--fonte4);
    font-size: 16px;
}

.container-contatos img {
    width: 50px;
    margin-right: 10px;
    transition: all .5s ease;
}

.container-contatos img:hover {
    cursor: pointer;
    transform: scale(0.9);
    transition: all .5s ease;
}

.container-contatos .email, .container-contatos .wpp {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}


/*  --------------------- Footer ---------------------*/
footer {
    overflow-x: hidden;
    position: relative;
    height: 12vh;
    padding-top: 35px;
    background-color: var(--cor5);
    opacity: 95%;
}

footer:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    border-radius:50% 50%  0 0 / 100% 100% 0 0 ;
    transform: scaleX(1.1);
}

footer .footer-content {
    position: relative;
    z-index: 1;
}

footer .container-footer-icons {
    margin: auto;
    width: fit-content;
}

.container-footer-icons i {
    color: #FFF;
    font-size: 20px;
    font-weight: 100;
    padding: 10px 20px;
    transition: all .5s ease;
}

.container-footer-icons i:hover {
    cursor: pointer;
    color: #a7a7a7;
    transform: scale(1.1);
    transition: all .5s ease;
}

footer p {
    color: #FFF;
    font-family: var(--fonte4);
    font-weight: 100;
    margin: auto;
    padding: 15px 10px;
    width: fit-content;
}

/*---- SETA -----*/
.seta {
    position: fixed;
    cursor: pointer;
    bottom: 4rem;
    right: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 3px;
    box-shadow: 1px 1.5px 1.5px rgb(0 0 0 / 75%);
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor2), var(--cor5));
    color: --;
}
.seta a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor1);
    font-size: 1.3rem;
}